@media only screen and (max-width: 1024px) {
  .popup_open {
    height: fit-content;
    width: 90%;
  }

  .login_section,
  .booking_section,
  .home_content {
    margin-top: 40px;
    margin-bottom: 40px;
    height: fit-content;
  }
}

@media only screen and (max-width: 768px) {
  .header_padd {
    padding-top: 0px;
  }

  .booking_ride {
    position: inherit;
    width: 100%;
    height: fit-content;
    padding: 0px 20px 50px 20px;
  }

  .booking_proced {
    width: 100%;
    margin-top: 40px;
  }

  .select_location,
  .select_login,
  .select_services,
  .booking_detail,
  .payment_detail,
  .booking_driver {
    height: fit-content;
  }

  .display_service {
    width: 100%;
  }

  .display_details {
    width: 100%;
  }

  .display_payment {
    width: 100%;
  }

  .driver_display {
    width: 100%;
  }

  .history-tl-container {
    margin-left: 10px;
  }

  .display_promo button {
    right: 7px;
  }

  .user_profile {
    padding-top: 0px;
  }

  .vehical_form {
    margin-bottom: 30px;
  }

  .user_info {
    height: fit-content;
    overflow-y: inherit;
    overflow-x: inherit;
    padding: 30px 0px;
  }

  .user_input input,
  .user_input select {
    width: 100%;
  }

  .card_payment .display_user_card {
    width: initial;
    justify-content: space-between;
  }

  .signup_form_otp input {
    height: 40px !important;
    width: 40px !important;
  }

  .signup_form_otp span {
    padding: 2px;
  }

  .service_block {
    margin-top: 0px;
    width: 100%;
  }

  .service_detail {
    order: 1;
  }

  .service_img {
    padding-top: 10px;
    order: 2;
  }

  .aboutus_block {
    margin-top: 0px;
    align-items: center;
  }

  .phone_input {
    padding-bottom: 10px;
  }

  .contact_block {
    margin-top: 0px;
  }
  .tips_block{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .login_section {
    margin-bottom: 40px;
    height: fit-content;
  }

  .login_home h2 {
    font-size: 30px;
    max-width: 200px;
  }

  .login_home {
    margin-bottom: 40px;
  }

  .booking_section {
    height: fit-content;
    margin-bottom: 40px;
  }

  .booking_home h2 {
    margin-top: 30px;
    font-size: 30px;
    max-width: 200px;
  }

  .booking_login h2 {
    margin-top: 30px;
    font-size: 30px;
    max-width: 230px;
  }

  .booking_home {
    width: 100%;
  }

  .booking_login {
    width: 100%;
  }

  .home_content {
    height: fit-content;
  }

  .home_service h2 {
    font-size: 30px;
    max-width: 250px;
  }

  .home_download {
    margin-top: 30px;
  }

  .app_download {
    margin-bottom: 30px;
  }

  .app_download h2 {
    font-size: 30px;
    max-width: 250px;
  }

  .app_play_store button {
    width: fit-content;
  }

  .login_part {
    width: 100%;
  }

  .login_page {
    height: fit-content;
    width: 100%;
    margin-bottom: 50px;
  }

  .fo_mt {
    margin-top: 30px;
  }

  .driver_booking {
    display: grid;
    justify-content: center;
  }

  .driver_content h2 {
    font-size: 13px;
  }

  .booking_status {
    text-align: center;
    margin-top: 10px;
  }

  .booking_status h2 {
    font-size: 15px;
  }

  .address_bookin {
    display: grid;
    justify-content: center;
  }

  .address_map {
    display: flex;
  }

  .location_dot {
    transform: rotate(90deg);
    width: fit-content;
    margin: auto;
    display: none;
  }
  .tips_block{
    margin-top: 10px;
  }
  .user_info{
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .contact_image1 {
    height: 170px;
    width: auto;
    margin: 30px 20px 20px 50px;
    box-shadow: 3px 3px 10px 0 gray;
    border: 4px solid var(--white);
    border-radius: 5px;
  }

  .contact_image2 {
    margin-top: 30px;
    height: 140px;
    width: auto;
    float: right;
    box-shadow: 3px 3px 10px 0 gray;
    border: 4px solid var(--white);
    border-radius: 5px;
  }

  .contact_image3 {
    align-items: center;
    margin: 20px;
    margin-top: 30px;
    height: 120px;
    float: left;
    width: auto;
    box-shadow: 3px 3px 10px 0 gray;
    border: 4px solid var(--white);
    border-radius: 5px;
  }

  .disp_vehical h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 840px) {
  .contact_image1 {
    height: 130px;
    width: auto;
    margin: 30px 0px 30px 30px;
    box-shadow: 3px 3px 10px 0 gray;
    border: 4px solid var(--white);
    border-radius: 5px;
  }

  .contact_image2 {
    margin-top: 30px;
    height: 130px;
    width: auto;
    box-shadow: 3px 3px 10px 0 gray;
    border: 4px solid var(--white);
    border-radius: 5px;
  }

  .contact_image3 {
    align-items: center;
    margin-top: 60px;
    height: 130px;
    float: left;
    width: auto;
    box-shadow: 3px 3px 10px 0 gray;
    border: 4px solid var(--white);
    border-radius: 5px;
  }
}